  p{
                text-align: center;
                 font-weight: bolder;
                padding: 3px;
                border: solid 2px black;
              background-color: #1743a7;
}

    body{
            
      background-image:"imagenes/fondo1.png";            }
            h1{
                text-align: center;
            }
            #pantalla{
                border: groove 8px gold;
             

}
            #boton{
                background-color: red;
                color: white;
                font-size: 20px;
                text-align: center;
                font-weight: bolder;
                padding: 3px;
                border: solid 2px black;
            }
            #boton:hover{ /* Estilo que se activa al pasar el puntero sobre el boton */
                background-color: #12EADC;
                font-size: 22px;
                border: groove 4px red;
            }
    #aviso-movil-horizontal { display: none; }
    @media only screen and (orientation:portrait) {
        #wrapper { display:none; }
        #aviso-movil-horizontal { display:block;
      font-size: 20px;
                text-align: center;
                font-weight: bolder;}
      
    }
    @media only screen and (orientation:landscape) {
        #aviso-movil-horizontal { display:none; }
    }
